dash==3.3.0
dash_bootstrap_components==2.0.4
hmmlearn==0.3.3
matplotlib==3.10.8
numpy==2.4.0
pandas==2.3.3
plotly==6.5.0
pytest==9.0.2
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.16.3
statsmodels==0.14.5
torch==2.9.1
xgboost==3.1.2
yfinance==0.2.66
